<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true">
    <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>
        <CustomLevel name="HEARTBEAT" intLevel="190" />
    </CustomLevels>
    <Appenders>
        <RollingFile name="RollingFile" fileName="autoSaves/logs/log.out" 
        filePattern="logs/heartbeat-log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{MM-dd-yyyy HH:mm:ss,SSS}|%p|%m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy max="180"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>
