/application-debug-Jeff.log
/application-debug-Jim.log
/application-debug-Mark.log
/application-debug-Mark2.log
/application-debug-Richard.log
/heartbeat-Jeff.log
/heartbeat-Jim.log
/heartbeat-Mark.log
/heartbeat-Mark2.log
/heartbeat-Richard.log
