<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" 
		xmlns="http://logging.apache.org/log4j/2.0/config"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://logging.apache.org/log4j/2.15.0/config 
			https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd"
		packages="log4j2.plugins">
    <!-- Define custom levels before using them for filtering below. -->
	<Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</Property>
        <Property name="LOG_DIRECTORY">autoSaves${sys:file.separator}logs${sys:file.separator}</Property>
        <Property name="USER_NAME">$${userlookup:userName}</Property>
	</Properties>
	
    <CustomLevels>
        <CustomLevel name="HEARTBEAT" intLevel="190" />
    </CustomLevels>
    
    <Appenders>
    
        <RollingFile name="RollingFile" fileName="${LOG_DIRECTORY}application-debug-${USER_NAME}.log" 
       				filePattern="${LOG_DIRECTORY}application-debug-${USER_NAME}-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="HEARTBEAT" maxLevel="HEARTBEAT" onMatch="DENY" onMismatch="ACCEPT"/>
			<PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy max="180"/>
        </RollingFile>
        
        <RollingFile name="HearbeatLogFile" fileName="${LOG_DIRECTORY}heartbeat-${USER_NAME}.log" 
					filePattern="${LOG_DIRECTORY}heartbeat-${USER_NAME}-%d{yyyy-MM-dd}-%i.log">
	  		<LevelRangeFilter minLevel="HEARTBEAT" maxLevel="HEARTBEAT" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy max="180"/>
        </RollingFile>
        
    </Appenders>
    <Loggers>
    
		<Logger name="com.ge18xx.heartbeat" additivity="false" level="HEARTBEAT">
            <AppenderRef ref="HearbeatLogFile" level="HEARTBEAT"/>
        </Logger>
    
        <Root level="all">
            <AppenderRef ref="RollingFile" level="info"/>
        </Root>
        
    </Loggers>
</Configuration>
